@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&family=Ubuntu:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.max-width {
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}

/*navbar-inicio*/

.navbar {
    position: fixed;
    width: 100%;
    padding: 30px 0;
    font-family: 'Ubuntu', sans-serif;
    z-index: 999;
    transition: all 0.3s ease;
}

.navbar.sticky {
    background: #202020b7;
    padding: 5px 0;
}

.navbar .max-width {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo a {
    color: #fff;
    font-size: 35px;
    font-weight: 500;
}

.navbar .logo a span {
    color: #D5A90C;
    transition: all 0.3 ease;
}

.navbar.sticky .logo a span {
    color: #fff;
}

.navbar .menu li {
    list-style: none;
    display: inline-block;
}

.navbar .menu li a {
    color: #fff;
    font-size: 15px;
    font-weight: 400;
    margin-left: 25px;
}

.navbar .menu li a:hover {
    color: #D5A90C
}

/* home-inicio */

.home {
    display: flex;
    background: url(./img/Banner.png) no-repeat center;
    height: 100vh;
    color: #fff;
    min-height: 500px;
    font-family: 'Ubuntu', sans-serif;
}

.home .max-width {
    margin: auto 0 auto 40px;
}

.home .home-content .text-1 {
    font-size: 27px;
}

.home .home-content .text-2 {
    font-size: 75px;
    font-weight: 500;
    margin-left: -3px;
}

.home .home-content .text-3 {
    font-size: 40px;
    margin: 5px 0;
}

.home .home-content .text-3  span {
    color: #D5A90C;
    font-weight: 500;
}

.home .home-content a {
    display: inline-block;
    background: #D5A90C;
    color: #fff;
    font-size: 25px;
    padding: 12px 36px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid #D5A90C;
}

.home .home-content a:hover {
    color: #D5A90C;
    background: none;
}

/* menu-mobile */

.menu-btn {
    color: #fff;
    font-size: 26px;
    cursor: pointer;
    display: none;
}

/* todos os codigos similares */

section {
    padding: 100px 0;
}

section .title {
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 20px;
    position: relative;
}

section .title::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 180px;
    height: 3px;
    background: #111;
    transform: translateX(-50%);
}

section .title::after {
    position: absolute;
    bottom: -12px;
    left: 50%;
    font-size: 20px;
    background: #fff;
    color: #D5A90C;
    padding: 5px;
    transform: translateX(-50%);
}

.about, .services, 
.skills, .business, .contact, footer {
    font-family: 'Roboto', sans-serif;
}

.about, .about-content, .services, 
.serv-content, .skills-content,
.contact, .contact-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}

/* sobre */

.about .title::after {
    content: "Quem sou eu";
}

.about .about-content .column-left {
    width: 45%;
}

.about .about-content .column-right {
    width: 50%;
}

.about .about-content .column-right .text {
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 10px;
}

.about .about-content .column-right .text span {
    color: #D5A90C;
}

.about .about-content .column-right p{
    text-align: justify;
}

.about .about-content .column-right a {
    display: inline-block;
    background: #D5A90C;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    padding: 10px 30px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid #D5A90C;
    transition: all 0.3s ease;
}

.about .about-content .column-right a:hover {
    color: #D5A90C;
    background: none;
}

.about .about-content .column-left img {
    width: 350px;
    height: 350px;
    object-fit: cover;
    border-radius: 10px;
}

/* services */

.services, .business {
    background: #111;
    color: #fff;

}

.services .title::before,
.business .title::before {
    background: #fff;
}

.services .title::after,
.business .title::after {
    background: #111;
    content: "O que eu faço?";
}

.services .serv-content .card {
    width: calc(33% - 20px);
    background: #222;
    text-align: center;
    border-radius: 6px;
    padding: 20px 25px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.services .serv-content .card .box {
    transition: all 0.3s ease;
}

.services .serv-content .card:hover{
    transform: scale(1.05);
    background: #D5A90C;
}

.services .serv-content .card ion-icon {
    font-size: 70px;
    color: #D5A90C;
}

.services .serv-content .card .text {
    font-size: 25px;
    font-weight: 500;
    margin: 10px 0 7px 0;
}

/* sessão especialidades */

.skills .title::after {
    content: "Repositórios";
}

.skills .skills-content .left p {
    text-align: justify;
}

.skills .skills-content a {
    display: inline-block;
    background: #D5A90C;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    padding: 8px 16px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid #D5A90C;
    transition: all 0.3s ease;
}

.skills .skills-content a:hover {
    color: #D5A90C;
    background: none;
}

/* Sessão Empresa */

.business .title::after {
    content: "Especializada";
}

.business .card {
    background: #222;
    border-radius: 6px;
    padding: 25px 35px ;
    text-align: center;
    transition: all 0.3s ease;
}

.business .card:hover {
    background: #D5A90C;
}

.business .card img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    border: 5px solid #D5A90C;
    transition: all 0.3s ease;
}

.business .card img:hover img {
    border-color: #fff;
}

.business .card .box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
}

.business .card:hover .box {
    transform: scale(1.05);
}

.business .card .text {
    font-size: 25px;
    font-weight: 500;
    margin: 10px 0 7px 0;
}

/* sessão contato */

.contact .title::after {
    content: "Fale comigo";
}

.contact .contact-content .column {
    width: calc(50% - 30px);
}

.contact .contact-content .left p {
    text-align: justify;
}

.contact .contact-content .text {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 10px;
}

.contact .contact-content .left .icons {
    margin: 10px 0;
}

.contact .contact-content .row {
    display: flex;
    height: 65px;
    align-items: center;
}

.contact .contact-content .row .info {
    margin-left: 30px;
}

.contact .contact-content .row .info .head {
    font-weight: 500;
}

.contact .contact-content .row .info .sub-title {
    color: #222;
}

.contact .contact-content .row ion-icon {
    font-size: 25px;
    color: #D5A90C;
}

.contact .right form .fields {
    display: flexbox;
}

.contact .column-right form .fields input,
.contact .column-right form .textarea textarea{
    width: 100%;
    height: 100%;
    border: 1px solid #ccc;
    border-radius: 6px;
    outline: none;
    padding: 0 15px;
    font-size: 17px;
    font-family: 'roboto', sans-serif;
}

.contact .button {
    width: 170px;
    height: 47px;
}

.contact .button button {
    width: 100%;
    height: 100%;
    border: 2px solid #D5A90C;
    background: #D5A90C;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    border-radius: 6px;
    cursor: pointer;
}

.contact .button button:hover{
    color: #D5A90C;
    background: none;
}

/* footer */

footer {
    background: #111;
    padding: 20px 23px;
    color: #fff;
    text-align: center;
}

footer span a {
    color: #D5A90C;
    text-decoration: none;
}

footer span a:hover{
    text-decoration: underline;
}

/* responsive */

@media (max-width: 1104px){
    .navbar .max-width {
        margin-left: 0;
    }
}


@media (max-width: 991px){
    .navbar .max-width {
        padding: 0;
    }
}

@media (max-width: 947px){
    .max-width{
        padding: 0 50px;
    }

    .menu-btn{
        display: block;
        z-index: 999;
    }
    
    .navbar .menu{
        position: absolute;
        font-size: 10vh;
        width: 20%;
        height: 100vh;
        top: 0;
        background: #000000af;
        padding-top: 15%;
        text-align: center;
        transition: all 0.3s ease;
    }
    
    .navbar .menu.active{
        left: 0;
    }
    
    .navbar .menu li {
        display: block;
    }

    .navbar .menu li a{
        display: inline-block;
        margin: 20px 0;
        font-size: 25px;
    }

    .home .home-content .text-2 {
        font-size: 70px;
    }
    
    .home .home-content .text-3 {
        font-size: 35px;
    }
}

@media (max-width: 690px){
    .home .home-content .text-2 {
        font-size: 70px;
    }
    
    .home .home-content .text-3 {
        font-size: 35px;
    }

    .home .home-content a {
        font-size: 23px;
        padding: 10px 30px;
    }
}